* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--prim-color);
    width: 100vw;
    overflow-x: hidden;
}

:root {
    --prim-color: #212529;
    --sec-color: #4CAF4F;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7.5vw;
    height: 10vh;
    width: 100%;
}

.header-links button {
    display: none;
}

.header-links li {
    list-style-type: none;
}

.header-links ol {
    display: flex;
    transition: 0.5s;
}

.header-links li {
    padding: 1rem 2rem;
    border-radius: 2rem;
    transition: 0.5s;
}

.header-links li:not(:last-child) {
    margin-right: 1rem;
}

.header-links li:visited {
    color: var(--prim-color);
}

.header-links li:hover {
    background-color: #DDE4DC;
}

.image-body {
    width: 100%;
    height: 90vh;
}

section > h1 {
    text-align: center;
    padding: 2em 0;
    font-size: 2.25rem;
}

.board-btn h2 {
    color: #FFF !important;
    background-color: var(--prim-color);
    padding: 1rem 2rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 2rem;
}

.About-us,
.vision {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7.5vw;
    height: 90vh;
}

.About-text {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.About-text h2 {
    color: #143711;
    font-size: 2rem;
}

.About-text p {
    color: #0008;
    font-size: 1.5rem;
    margin: 2rem 0;
}

#Partners {
    height: 90vh;
}

.partners {
    display: grid;
    grid-template-columns: 1fr repeat(5, 2fr) 2fr;
}

.partners:nth-child(3) {
    grid-template-columns: 2fr repeat(5, 2fr) 1fr;
}

.partners .ordered {
    order: 0;
}

.partner-img {
    width: 100%;
    padding: 2rem 2rem;
    border: 1px solid #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners img {
    width: 100%;
}

.board-font h1 {
    text-align: center;
    margin: 2rem 0 0 0;
}

.all-board {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
}

.activities {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    padding: 3rem 7.5vw;
    justify-items: center;
    -moz-column-gap: 3vw;
    column-gap: 5vw;
    row-gap: 7.5vh;
}

.activites-font h1 {
    text-align: center;
    margin: 2rem 0 0 0;
}

.activites-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2.5rem 3rem;
    border-radius: 2rem;
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    text-align: center;
}

.activites-box:hover {
    transform: scale(1.1);
}

.activites-box img {
    padding-bottom: 2vh;
    width: 10vw;
}

svg {
    padding-bottom: 2vh;
    width: 10vw;
}

.join {
    padding: 2.5vh 7.5vw;
}

.joinwzus {
    text-align: center;
    padding: 50px;
    font-size: xx-large;
    font-weight: bold;
}

.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    width: 25vw;
    text-align: center;
}

.join_button {
    background-color: #5CAE97;
    color: white;
    border: none;
    font-size: 1.5rem;
    border-radius: 35px;
    width: 25vw;
    height: 3rem;
    cursor: pointer;
    font-weight: bold;
    margin: 1rem 0 8rem;
}

.textjoin {
    font-size: larger;
    font-weight: bold;
}

.join-img {
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 20px;
    width: 80%;

}

.footer {
    background-color: #1b3b38;
    color: white;
    padding: 40px 7.5vw;
}

.footer-container {
    max-width: 1200px;
    text-align: center;
}

.footer-logo {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 20px;
}

.footer-columns {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer-column h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li,
.footer-column ul li a {
    margin-bottom: 10px;
    color: rgb(168, 164, 164);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10vw;
}

@media only screen and (max-width:821px) {
    .header-links {
        display: none;
    }

    header {
        justify-content: center;
    }

    main {
        height: auto !important;
    }

    main img {
        height: 70vh !important;
    }

    #About {
        height: auto !important;
    }

    .About-us img,
    .vision img {
        display: none;
    }

    .About-us,
    .vision {
        flex-direction: column;
        height: auto !important;

    }

    .board-btn {
        margin-bottom: 2rem;
    }

    .About-text {
        width: auto !important;
    }

    #Partners {
        height: auto !important;
    }

    .partners {
        grid-template-columns: 1fr !important;
    }

    .partners img {
        width: 100vw !important;
    }

    .activities {
        grid-template-columns: 1fr;
    }

    .activites-box {
        width: -webkit-fill-available !important;
    }

    .parent .part1,
    .parent .part1 button {
        width: -webkit-fill-available;
    }

    .parent > div:not(.part1) {
        display: none;
    }

    .footer-columns,
    .footer-bottom {
        flex-direction: column;
        gap: 5vh;
    }

    .footer-bottom .icons {
        width: auto !important;
    }
}